= fields_for :record do |form|
  #group_select{:style=>'width: 300px'}
    = form.label :to_groups, "Destination groups"
    %br
    = form.select :to_groups, Group.order('group_name').collect {|x| [x.group_name, x.id]}, {}, :multiple => true, :size=>15, :class=>'multiselect_groups'

