div.bloodtypes-view,
div.countries-view,
div.education-view,
div.employment_status-view,
div.locations-view,
div.cities-view,
div.contact_types-view,
div.ministry-view,
div.status-view {
  width: 600px; }

div.states-view {
  width: 450px; }

.longitude-input, .latitude-input, .code-input, .sex-input,
.total_passengers-input, .baggage-input {
  width: 50px; }

.state-input, .date-input, .birth_date-input, .date_active-input,
.start_date-input, .end_date-input, .est_start_date-input,
.est_end_date-input, .return_date-input, .confirmed-input {
  width: 100px; }

.first_name-input, .last_name-input, .middle_name-input,
.short_name-input, .origin-input, .destination-input, .flight-input,
.guesthouse-input {
  width: 150px; }

.family-input, .spouse-input, .country-input,
.status-input, .employment_status-input, .ministry-input,
.ministry_comment-input, .location-input, .qualifications-input,
.education-input {
  width: 250; }

.name-input {
  width: 200px; }

#menu {
  background: #EEE;
  width: 140px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 5px 10px 5px; }

#menu ul {
  list-style-position: outside;
  margin-left: -1.5em; }

#menu li {
  font-size: 80%; }

#links {
  margin-left: 0px; }

#content {
  background: #ACA;
  position: absolute;
  top: 0px;
  left: 150px;
  padding-left: 10px; }

h2 {
  color: red; }

#notice {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  border: 1px solid rgba(255, 0, 0, 0.45);
  z-index: 9;
  background: rgba(200, 255, 250, 0.8); }
