.active-scaffold .view {
  background: #bdd4de;
  border: 1px solid #3f708d; }

.active-scaffold .active-scaffold td.inline-adapter-cell {
  background: #bdd4de; }

.as_form table {
  background: #efefef; }

.active-scaffold .active-scaffold .active-scaffold td.inline-adapter-cell {
  border: 1px solid #3f708d; }

.active-scaffold h4, .active-scaffold h5 {
  color: #0066cc; }

div#content {
  min-width: 1000px;
  min-height: 800px;
  padding: 5px;
  background: #bdd4de; }

div.countries-view,
div.cities-view {
  width: 600px; }

div.states-view,
div.bloodtypes-view,
div.contact_types-view,
div.educations-view,
div.employment_statuses-view,
div.locations-view,
div.ministries-view,
div.statuses-view {
  width: 450px; }

.active-scaffold input.text-input, .active-scaffold select {
  font-size: 1em;
  font-family: Verdana, Arial;
  font-weight: normal; }

.longitude-input, .latitude-input, .code-input, .flight-input,
.total_passengers-input, .baggage-input, .time-input {
  width: 50px; }

.state-input, .date-input, .datepicker, .date_picker, .birth_date-input, .date_active-input,
.start_date-input, .end_date-input, .est_start_date-input, .sex-input,
.est_end_date-input, .return_date-input, .confirmed-input,
.origin-input, .destination-input, .guesthouse-input,
.driver_accom-input {
  width: 100px; }

.date_picker_smaller {
  width: 80px; }

.first_name-input, .last_name-input, .middle_name-input, .phone-input,
.short_name-input, .qualifications-input, .employment_status-input, .medium-input {
  width: 120px; }

.name-input, .family-input, .spouse-input, .wide-input, .ministry-input, .country-input,
.ministry_location-input {
  width: 180px; }

#tabs-wife.wife_hidden, #wife-tab.wife_hidden {
  display: none; }

.status-input,
.ministry_comment-input, .temporary_location-input, .location-input,
.education-input, .ministry_comments {
  width: 270px; }

.exceeded {
  background: yellow; }

#menu {
  background: #cceeff;
  min-height: 800px;
  width: 140px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 5px 10px 5px; }
  #menu ul {
    list-style-position: outside;
    margin-left: -1.5em; }
  #menu li {
    font-size: 80%; }

#links {
  margin-left: 0px; }

#content {
  background: #aaccaa;
  position: absolute;
  top: 0px;
  left: 150px;
  padding-left: 10px; }

#notice {
  padding: 0.5em;
  margin: 10px;
  border: 1px solid grey;
  background: navy;
  color: #eeeeee;
  font-style: bold;
  font-size: 1.2em; }

.contact_form {
  max-width: 700px; }

.family_info p {
  padding-top: 0.3em; }

.family_members h5, .add_family_members h5 {
  margin-top: 1em; }

.sim_id-input {
  width: 60px; }

.test {
  color: red;
  background: blue; }

td.label {
  color: blue;
  text-align: right; }

.hidden {
  display: none; }

label.required {
  font-style: italic;
  color: black; }

table.new_family {
  width: 600px; }
  table.new_family tbody {
    vertical-align: top; }
  table.new_family td {
    width: 25%;
    padding-right: 20px; }
    table.new_family td .date-input, table.new_family td .date_active-input, table.new_family td .date_picker {
      width: 120px; }

.family_summary table tbody, .travel_reminders table tbody {
  vertical-align: top; }
.family_summary table td.name, .travel_reminders table td.name {
  font-weight: bold; }

.travel_reminders table {
  width: 600px; }
.travel_reminders span.name {
  font-weight: bold; }
.travel_reminders p {
  width: 600px;
  padding: 0.5em; }

a.big-link {
  font: bold 14px arial, sans-serif; }

div.new_travel, div.member_form {
  position: relative;
  height: 470px;
  background-color: #efefef;
  padding: 20px; }
  div.new_travel div.col_1, div.member_form div.col_1 {
    background-color: #efefef;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    padding: 5px;
    height: 440px; }
  div.new_travel div.col_2, div.member_form div.col_2 {
    background-color: #dfdfdf;
    position: absolute;
    top: 0px;
    left: 310px;
    width: 300px;
    padding: 5px;
    height: 440px; }
  div.new_travel div.col_3, div.member_form div.col_3 {
    background-color: #efefef;
    position: absolute;
    top: 0px;
    left: 620px;
    width: 300px;
    padding: 5px;
    height: 440px; }
  div.new_travel div.form-footer, div.member_form div.form-footer {
    position: absolute;
    top: 450px;
    left: 0px; }
  div.new_travel table, div.new_travel td, div.member_form table, div.member_form td {
    border-collapse: collapse;
    border: 0px solid red;
    border-bottom: 0px solid red;
    border-left: 0px solid red; }

div.member_form {
  padding: 5px;
  height: 340px; }
  div.member_form div.col_1 {
    height: 340px; }
  div.member_form div.col_2 {
    height: 340px; }
  div.member_form div.col_3 {
    height: 340px; }

div.bottom {
  background-color: #c2e0c2; }

.active-scaffold .active-scaffold td {
  border-bottom: 0px;
  border-left: 0px;
  background-color: transparent; }

div.passengers {
  padding-left: 10px; }

div.travel_category, div.spouse_kids, div.total_passengers,
div.other_travelers {
  margin-top: 0.8em; }

div.traveler_names select {
  height: 180px; }

div.spouse_kids table {
  width: 80%; }

div.with_children {
  padding-left: 10px; }

div.with_spouse {
  padding-left: 10px; }

div.travel_date {
  padding: 0px;
  margin: 0px; }

div.temporary_location_dates {
  padding-left: 1em; }

#as_calendar_events-tbody .date-column {
  width: 20%; }

.whereis th, .status_mismatch th {
  text-align: left; }
.whereis td, .status_mismatch td {
  padding: 0.1em 0.7em 0.1em 0.4em; }

.whereis tr.new_location {
  background: #0080fc; }

.whereis .new_location td {
  color: white;
  font-style: italic;
  padding-top: 0.5em; }

.list_line_odd {
  background: #dcecec; }

.list_line_even {
  background: #cce4fc; }

div.list_field_terms,
div.status_mismatch {
  width: 600px; }
  div.list_field_terms th,
  div.status_mismatch th {
    background: #cce4fc; }

div.contact_updates p.name {
  font-weight: bold;
  margin-top: 0.6em; }
div.contact_updates .contact_type, div.contact_updates .contact_info {
  margin-left: 1em; }
div.contact_updates .contact_type {
  font-style: italic; }
div.contact_updates .footer {
  font-style: italic;
  margin-top: 0.6em; }

div.crosstab p.title {
  font-weight: bold;
  font-size: 1.3em; }
div.crosstab th {
  text-align: left;
  padding: 0px 10px 0px 10px; }
div.crosstab tr.odd {
  background: #dcecec; }
div.crosstab tr.even {
  background: #cce4fc; }
div.crosstab td {
  padding: 0px 30px 0px 10px;
  text-align: right; }
div.crosstab td.row_label {
  text-align: left; }
div.crosstab tr.total {
  background: white; }

.school-input {
  width: 70px; }

.grade-input {
  width: 50px; }

table.children {
  table-layout: fixed;
  width: 500px; }
  table.children .first_name-input {
    width: 90px; }
  table.children .employment_status-input {
    width: 100px; }
  table.children th {
    background: #ccddcc; }
  table.children th.idx {
    width: 30px; }
  table.children th.name {
    width: 100px; }
  table.children th.birth_date {
    width: 90px; }
  table.children th.sex {
    width: 80px; }
  table.children th.school {
    width: 80px; }
  table.children th.grade {
    width: 60px; }
  table.children th.status {
    width: 100px; }

.active-scaffold-header div.actions a.export {
  background-image: url(images/export.png);
  padding: 5px 5px 5px 25px; }

#msg-form {
  background-color: #3f5765;
  width: 520px;
  padding: 10px; }
  #msg-form #record_subject {
    width: 300px; }

#msg-form #msg-bottom {
  position: relative; }

#msg-followup, #msg-form {
  width: 400px;
  padding: 0.5em; }
  #msg-followup #msg-top, #msg-form #msg-top {
    width: 400px;
    padding: 0.5em;
    margin-top: 0.5em; }
  #msg-followup .note, #msg-form .note {
    border: 1px solid red;
    width: 380px;
    padding: 0.5em;
    margin-bottom: 1em;
    font-size: smaller; }
  #msg-followup .msg-quote, #msg-form .msg-quote {
    border: 1px solid #996666;
    padding: 0.5em;
    margin: 0.5em 1em 0.5em 1em; }

#msg-followup #msg-top {
  background-color: #aaccaa; }

#advanced {
  position: absolute;
  top: 0px;
  left: 310px;
  width: 200px;
  padding: 5px; }

#advanced #options {
  background-color: #aaccaa; }

.groups-view #record_abbrev {
  width: 80px; }
.groups-view #record_type_of_group {
  width: 200px; }

.not-implemented {
  display: none; }
