div#content {
  min-width: 1000px;
  min-height: 800px;
  padding: 5px;
  background: lightblue; }

div.bloodtypes-view,
div.countries-view,
div.education-view,
div.employment_status-view,
div.locations-view,
div.cities-view,
div.contact_types-view,
div.ministry-view,
div.status-view {
  width: 600px; }

div.states-view {
  width: 450px; }

.active-scaffold input.text-input, .active-scaffold select {
  font-size: 1em;
  font-family: "Verdana"; }

.longitude-input, .latitude-input, .code-input, .flight-input,
.total_passengers-input, .baggage-input, .time-input {
  width: 50px; }

.state-input, .date-input, .datepicker, .date_picker, .birth_date-input, .date_active-input,
.start_date-input, .end_date-input, .est_start_date-input, .sex-input,
.est_end_date-input, .return_date-input, .confirmed-input,
.origin-input, .destination-input, .guesthouse-input,
.driver_accom-input {
  width: 100px; }

.first_name-input, .last_name-input, .middle_name-input,
.short_name-input, .temporary_location-input {
  width: 150px; }

.name-input, .family-input, .spouse-input {
  width: 200px; }

.country-input,
.status-input, .employment_status-input, .ministry-input,
.ministry_comment-input, .location-input, .qualifications-input,
.education-input {
  width: 250px; }

#menu {
  background: #cceeff;
  min-height: 800px;
  width: 140px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 5px 10px 5px; }
  #menu ul {
    list-style-position: outside;
    margin-left: -1.5em; }
  #menu li {
    font-size: 80%; }

#links {
  margin-left: 0px; }

#content {
  background: #aaccaa;
  position: absolute;
  top: 0px;
  left: 150px;
  padding-left: 10px; }

#notice {
  padding: 0.5em;
  margin: 10px;
  border: 1px solid grey;
  background: navy;
  color: #eeeeee;
  font-style: bold;
  font-size: 1.2em; }

.family_info p {
  padding-top: 0.3em; }

.family_members h5, .add_family_members h5 {
  margin-top: 1em; }

.sim_id-input {
  width: 60px; }

.test {
  color: red;
  background: blue; }

td.label {
  color: blue;
  text-align: right; }

.hidden {
  display: none; }

label.required {
  font-style: italic;
  color: black; }

table.new_family {
  width: 400px; }
  table.new_family tbody {
    vertical-align: top; }
  table.new_family td {
    width: 25%; }

a.big-link {
  font: bold 14px arial, sans-serif; }

div.new_travel, div.member_form {
  position: relative;
  height: 470px;
  background-color: #daffcd;
  padding: 20px; }
  div.new_travel div.col_1, div.member_form div.col_1 {
    background-color: #c2efc2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    padding: 5px;
    height: 440px; }
  div.new_travel div.col_2, div.member_form div.col_2 {
    background-color: #aaccaa;
    position: absolute;
    top: 0px;
    left: 310px;
    width: 300px;
    padding: 5px;
    height: 440px; }
  div.new_travel div.col_3, div.member_form div.col_3 {
    background-color: #c2efc2;
    position: absolute;
    top: 0px;
    left: 620px;
    width: 300px;
    padding: 5px;
    height: 440px; }
  div.new_travel div.form-footer, div.member_form div.form-footer {
    position: absolute;
    top: 450px;
    left: 0px; }
  div.new_travel table, div.new_travel td, div.member_form table, div.member_form td {
    border-collapse: collapse;
    border: 0px solid red;
    border-bottom: 0px solid red;
    border-left: 0px solid red; }

div.member_form {
  padding: 5px;
  height: 340px; }
  div.member_form div.col_1 {
    height: 340px; }
  div.member_form div.col_2 {
    height: 340px; }
  div.member_form div.col_3 {
    height: 340px; }

div.bottom {
  background-color: #c2e0c2; }

.active-scaffold .active-scaffold td {
  border-bottom: 0px;
  border-left: 0px;
  background-color: transparent; }

div.passengers {
  padding-left: 10px; }

div.travel_category, div.spouse_kids, div.total_passengers,
div.other_travelers {
  margin-top: 0.8em; }

div.traveler_names select {
  height: 180px; }

div.spouse_kids table {
  width: 80%; }

div.with_children {
  padding-left: 10px; }

div.with_spouse {
  padding-left: 10px; }

div.travel_date {
  padding: 0px;
  margin: 0px; }

div.temporary_location_dates {
  padding-left: 1em; }

#as_calendar_events-tbody .date-column {
  width: 20%; }

.whereis th {
  text-align: left; }

.whereis tr.new_location {
  background: #0080fc; }

.whereis .new_location td {
  color: white;
  font-style: italic;
  padding-top: 0.5em; }

.whereis .list_line_odd {
  background: #dcecec; }

.whereis .list_line_even {
  background: #cce4fc; }
