/*
Syntax error: File to import not found or unreadable: compass.
              Load path: /home/mike/sim5/public/stylesheets/sass
        on line 1 of /home/mike/sim5/public/stylesheets/sass/project_style_overrides.sass

1: @import "compass"
2: $hue: 45
3: $hue_accent: $hue - 15
4: $hue_2: $hue - 0
5: $hue_menu: $hue + 15
6: $hue_links: 225

Backtrace:
/home/mike/sim5/public/stylesheets/sass/project_style_overrides.sass:1
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/import_node.rb:64:in `rescue in import'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/import_node.rb:42:in `import'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/import_node.rb:25:in `imported_file'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:148:in `rescue in visit_import'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:153:in `visit_import'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/tree/root_node.rb:20:in `render'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/engine.rb:291:in `_render'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/engine.rb:239:in `block in render'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/util.rb:298:in `silence_sass_warnings'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/engine.rb:239:in `render'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `each'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `each'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/plugin.rb:54:in `check_for_updates'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.1.1/lib/sass/plugin/rack.rb:51:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/home/mike/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/home/mike/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/mike/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/mike/.rvm/rubies/ruby-1.9.2-p0/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load path: /home/mike/sim5/public/stylesheets/sass\A         on line 1 of /home/mike/sim5/public/stylesheets/sass/project_style_overrides.sass\A \A 1: @import \"compass\"\A 2: $hue: 45\A 3: $hue_accent: $hue - 15\A 4: $hue_2: $hue - 0\A 5: $hue_menu: $hue + 15\A 6: $hue_links: 225"; }
