div.bloodtypes-view,
div.countries-view,
div.education-view,
div.employment_status-view,
div.locations-view,
div.cities-view,
div.contact_types-view,
div.ministry-view,
div.status-view {
  width: 600px; }

div.states-view {
  width: 450px; }

.active-scaffold input.text-input, .active-scaffold select {
  font-size: 1em;
  font-family: "Verdana"; }

.longitude-input, .latitude-input, .code-input,
.total_passengers-input, .baggage-input {
  width: 50px; }

.state-input, .date-input, .birth_date-input, .date_active-input,
.start_date-input, .end_date-input, .est_start_date-input, .sex-input,
.est_end_date-input, .return_date-input, .confirmed-input {
  width: 100px; }

.first_name-input, .last_name-input, .middle_name-input,
.short_name-input, .origin-input, .destination-input, .flight-input,
.guesthouse-input {
  width: 150px; }

.name-input, .family-input, .spouse-input {
  width: 200px; }

.country-input,
.status-input, .employment_status-input, .ministry-input,
.ministry_comment-input, .location-input, .qualifications-input,
.education-input {
  width: 250px; }

#menu {
  background: #eeeeee;
  width: 140px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 5px 10px 5px; }
  #menu ul {
    list-style-position: outside;
    margin-left: -1.5em; }
  #menu li {
    font-size: 80%; }

#links {
  margin-left: 0px; }

#content {
  background: #aaccaa;
  position: absolute;
  top: 0px;
  left: 150px;
  padding-left: 10px; }

#notice {
  padding: 0.5em;
  margin: 10px;
  border: 1px solid #44ee44;
  background: #116644;
  color: #eeeeee;
  font-style: bold;
  font-size: 1.5em; }

.family_info p {
  padding-top: 0.3em; }

.family_members h5, .add_family_members h5 {
  margin-top: 1em; }

.sim_id-input {
  width: 60px; }

.test {
  color: red;
  background: blue; }

td.label {
  color: blue;
  text-align: right; }

.hidden {
  display: none; }

label.required {
  font-style: italic;
  color: black; }

table.new_family {
  width: 400px; }
  table.new_family tbody {
    vertical-align: top; }
  table.new_family td {
    width: 25%; }

a.big-link {
  font: bold 14px arial, sans-serif; }
