/* This file is for generating CSS theme files. At present, themes only vary in color (not in
   fonts, arrangement, sizing, etc. Thus you can create the color theme and leave it intact even
   if the main CSS override file (project_style_overrides.scss) needs to be changed.
   
   Probably the best approach is to develop one color theme using this SASS file, then "freeze" 
   the generated CSS file, renaming it, e.g., 'giraffe-theme.css' or whatever. (You should probably
   save a copy of this file as 'giraffe-theme.scss' as well, in case it's needed for tweaking
   the theme.) 

   MOST OF THE COLOR STYLE VARIATIONS CAN BE ACCOMPLISHED BY CHANGING THE FOLLOWING FEW LINES
   AS THE REST OF THE COLOR DEFINITIONS ARE BASED ON THEM.
 
   IMAGES WILL STILL HAVE TO BE CREATED FOR EACH COLOR SCHEME IF NECESSARY      */
/* base saturation to make it easy to change all at once */
/* Button for submit etc. */
/******* Images **** */
/**  THE REST OF THE STYLESHEET ONLY NEEDS TO BE EDITED IF TWEAKING IS REQUIRED ****/
/*** Main Listings ***/
/** Based on the light background, how much to darken and/or desaturate the odd rows? 
    A gradient is used, so values are specified for the top and bottom of the odd rows **/
/** How much further should the *sorted* column be darkened and/or desaturated? **/
/* Backgrounds */
/* Text */
/* -- widgets -- */
/* -- tabular lists -- */
/* -- menu -- */
/* -- other backgrounds -- */
/* Borders */
/********** Color info for CSS ***************** */
body {
  color: #1a1300; }

a:visited {
  color: #2050df; }
a:hover {
  color: #fcf1cf; }

.active-scaffold .view {
  background: #fcf1cf;
  border: 1px solid #bf9f40; }

.active-scaffold .active-scaffold td.inline-adapter-cell {
  background: #fcf1cf; }

.as_form table {
  background: #ffe28a; }

.active-scaffold .active-scaffold .active-scaffold td.inline-adapter-cell {
  border: 1px solid #bf9f40; }

.active-scaffold h3 {
  color: #6b5c2e; }

h1 {
  color: #423200; }

h4, .active-scaffold h4 {
  color: #6b5c2e; }

h5, .active-scaffold h5 {
  color: #6b5c2e; }

.active-scaffold h5, .active-scaffold h2 {
  color: #423200; }

.active-scaffold a, .active-scaffold a:visited {
  color: #2050df; }

.active-scaffold label, .active-scaffold p {
  color: #423200; }

.active-scaffold form select {
  border-color: #b3b3b3; }

div#content {
  background: #fcf1cf; }

/* Listings */
.active-scaffold th {
  background-color: #cfa117;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfa117), color-stop(100%, #8a6b0f));
  background-image: -webkit-linear-gradient(top, #cfa117, #8a6b0f);
  background-image: -moz-linear-gradient(top, #cfa117, #8a6b0f);
  background-image: -ms-linear-gradient(top, #cfa117, #8a6b0f);
  background-image: -o-linear-gradient(top, #cfa117, #8a6b0f);
  background-image: linear-gradient(top, #cfa117, #8a6b0f);
  font: bold 11px arial, sans-serif; }

.active-scaffold th a, .active-scaffold th p {
  background: transparent;
  color: white; }

.active-scaffold th:hover, .active-scaffold th a:hover, .active-scaffold th.sorted a:hover {
  background: #eeb711; }

.active-scaffold th.asc a, .active-scaffold th.desc a:hover {
  background: url("../images/active_scaffold/default/arrow_up.gif") no-repeat scroll right 50%; }

.active-scaffold th.desc a, .active-scaffold th.desc a:hover {
  background: url("../images/active_scaffold/default/arrow_down.gif") no-repeat scroll right 50%; }

.active-scaffold .records tr.record {
  background-color: #ffe28a;
  background-color: #f5e0a3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5e0a3), color-stop(100%, #f0d175));
  background-image: -webkit-linear-gradient(top, #f5e0a3, #f0d175);
  background-image: -moz-linear-gradient(top, #f5e0a3, #f0d175);
  background-image: -ms-linear-gradient(top, #f5e0a3, #f0d175);
  background-image: -o-linear-gradient(top, #f5e0a3, #f0d175);
  background-image: linear-gradient(top, #f5e0a3, #f0d175); }

.active-scaffold .records tr.even-record {
  background: white; }

.active-scaffold .records tr.record td.sorted {
  background-color: #efd78f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efd78f), color-stop(100%, #e9c763));
  background-image: -webkit-linear-gradient(top, #efd78f, #e9c763);
  background-image: -moz-linear-gradient(top, #efd78f, #e9c763);
  background-image: -ms-linear-gradient(top, #efd78f, #e9c763);
  background-image: -o-linear-gradient(top, #efd78f, #e9c763);
  background-image: linear-gradient(top, #efd78f, #e9c763); }

.active-scaffold .records tr.even-record td.sorted {
  background: #fff2cc; }

.active-scaffold tr.record td, .active-scaffold tr.record td.sorted {
  border: 1px solid #ffe28a;
  border-bottom-color: #bf9f40;
  border-left-color: #bf9f40; }

/* Warning that too many characters have been entered into input box */
.exceeded {
  background: yellow; }

#menu {
  background: 60, 100, 94;
  border-right: 1px solid #bf9f40; }
  #menu a {
    color: #423200; }
    #menu a:hover {
      background-color: #ffe699; }

td.label {
  color: blue; }

label.required {
  font-style: italic;
  color: black; }

div.new_travel, div.member_form {
  background-color: #ffe28a; }
  div.new_travel div.col_1, div.member_form div.col_1 {
    background-color: #ffe28a; }
  div.new_travel div.col_2, div.member_form div.col_2 {
    background-color: #e8cd7d;
    border-left: 1px solid #ffe28a; }
  div.new_travel div.col_3, div.member_form div.col_3 {
    background-color: #ffe28a;
    border-left: 1px solid #ffe28a; }

.list_line_odd {
  background: #ffe28a; }

.list_line_even {
  background: white; }

div.crosstab tr.odd {
  background: #f1ebda; }
div.crosstab tr.even {
  background: white; }
div.crosstab tr.total {
  background: white; }

#notice {
  border: 1px solid grey;
  background: #b35900;
  color: #ededed; }

.whereis tr.new_location {
  background: #0080fc; }

.whereis .new_location td {
  color: white;
  font-style: italic; }

.list_line_odd {
  background: #ffe28a; }

.list_line_even {
  background: white; }

table.children th {
  background: #8a6b0f; }

#content {
  background: white; }

/******** THEME FOR JQUERY-UI WIDGETS (COLOR AND IMAGES ONLY) ******* */
/********* JQUERY-UI COMPONENTS ***** */
/* Component containers
 *---------------------------------- */
/****** Colors ** */
.ui-widget-content, #msg-form {
  border: 1px solid #8a4d0f;
  background: #e8cd7d url(images/ui-bg-gold-textured.png) 0 0 repeat;
  color: #423200; }
  .ui-widget-content a, #msg-form a {
    color: #423200; }

.ui-widget-header {
  border: 1px solid #59330d;
  background-color: #ccb366;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccb366), color-stop(100%, #86702d));
  background-image: -webkit-linear-gradient(top, #ccb366, #86702d);
  background-image: -moz-linear-gradient(top, #ccb366, #86702d);
  background-image: -ms-linear-gradient(top, #ccb366, #86702d);
  background-image: -o-linear-gradient(top, #ccb366, #86702d);
  background-image: linear-gradient(top, #ccb366, #86702d);
  color: #423200; }
  .ui-widget-header a {
    color: #423200; }

.ui-tabs-panel {
  background: transparent; }
  .ui-tabs-panel table {
    background: transparent; }

.active-scaffold .submit, .ui-datepicker-month, .ui-datepicker-year {
  background-color: #e0b152;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0b152), color-stop(100%, #ad7e1f));
  background-image: -webkit-linear-gradient(top, #e0b152, #ad7e1f);
  background-image: -moz-linear-gradient(top, #e0b152, #ad7e1f);
  background-image: -ms-linear-gradient(top, #e0b152, #ad7e1f);
  background-image: -o-linear-gradient(top, #e0b152, #ad7e1f);
  background-image: linear-gradient(top, #e0b152, #ad7e1f);
  color: white;
  border: 1px solid #4d4019; }
  .active-scaffold .submit:hover, .ui-datepicker-month:hover, .ui-datepicker-year:hover {
    background: #e8cd7d;
    border-color: red;
    color: #423200; }
  .active-scaffold .submit:active, .ui-datepicker-month:active, .ui-datepicker-year:active {
    background: #e8cd7d;
    border: 1px dotted yellow;
    color: #423200; }

/****** Include message form here as it will be styled like the tabbed family form widget */
#msg-followup .note, #msg-form .note {
  border: 1px solid red;
  margin-bottom: 1em; }
#msg-followup .msg-quote, #msg-form .msg-quote {
  border: 1px solid #bf9f40; }

#msg-followup #msg-top {
  background-color: white; }

#advanced #options {
  background-color: white; }

.as_form #msg-form table {
  background: transparent; }

/* Interaction states
 *---------------------------------- */
/* Background for things like "headers/selectors" for non-selected tabs, non-selected dates on calendar */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #ffe28a;
  background: #f7eed4;
  color: #cca224; }

.ui-state-default a {
  color: #cca224; }
  .ui-state-default a:link, .ui-state-default a:visited {
    color: #cca224; }

/*html body div#top div#content div#main div.active-scaffold div.create-view form#as_families-create--form.as_form div div#tabs.ui-tabs ul.ui-tabs-nav li.ui-state-hover a {
background: red
}*/
.ui-state-hover, .ui-state-hover a, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #e8a17d;
  background-color: #ffe28a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe28a), color-stop(50%, #ccb366), color-stop(100%, #ffe28a));
  background-image: -webkit-linear-gradient(top, #ffe28a, #ccb366, #ffe28a);
  background-image: -moz-linear-gradient(top, #ffe28a, #ccb366, #ffe28a);
  background-image: -ms-linear-gradient(top, #ffe28a, #ccb366, #ffe28a);
  background-image: -o-linear-gradient(top, #ffe28a, #ccb366, #ffe28a);
  background-image: linear-gradient(top, #ffe28a, #ccb366, #ffe28a);
  color: #1c1b17; }

.ui-state-hover a {
  color: #1c1b17; }
  .ui-state-hover a:hover {
    color: #1c1b17; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #8a4d0f;
  background-color: #ccb366;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccb366), color-stop(100%, #ffe28a));
  background-image: -webkit-linear-gradient(top, #ccb366, #ffe28a);
  background-image: -moz-linear-gradient(top, #ccb366, #ffe28a);
  background-image: -ms-linear-gradient(top, #ccb366, #ffe28a);
  background-image: -o-linear-gradient(top, #ccb366, #ffe28a);
  background-image: linear-gradient(top, #ccb366, #ffe28a);
  color: #26200d; }

.ui-state-active a {
  color: #26200d; }
  .ui-state-active a:link, .ui-state-active a:visited {
    color: #26200d; }

/* Interaction Cues
 *---------------------------------- */
/* Use of this state includes highlighting today's date on the calendar. Anything else?? */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #736026;
  background: #e8cd7d;
  color: #333333; }

.ui-state-highlight a, .ui-widget-content a, .ui-widget-header a {
  color: #333333; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #c20a0a;
  background: #fee7e7;
  color: #c20a0a; }

.ui-state-error a, .ui-widget-content a, .ui-widget-header a, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #c20a0a; }

/* Icons
 *---------------------------------- */
/* icons and icons w state */
/* Each image is a whole collection of icons with different colors and backgrounds */
/* Individual icons are sprites within a collection */
.ui-icon {
  background-image: url(images/ui-icons-base-grey.png); }

.ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
  background-image: url(images/ui-icons-base-grey.png); }

.ui-state-default .ui-icon {
  background-image: url(images/ui-icons-gold-default.png); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url(images/ui-icons-gold-hover.png); }

.ui-state-active .ui-icon {
  background-image: url(images/ui-icons-gold-active.png); }

.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons-gold-highlight.png); }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons-base-error.png); }
