# For use with SETTINGSLOGIC
# See https://github.com/binarylogic/settingslogic
# Access variables like this: page_size = Settings.reports.page_size
# Can set like this if desired:
#  Settings[:rows_per_screen_page] = 20
defaults: &defaults
  reports: 
    page_size: 'A4'
    birthday_calendar:
      birthday_prefix: 'BD: '
    travel_calendar:
      arrival_prefix: 'AR: '
      departure_prefix: 'DP: '  
  screen:
    rows_per_screen_page: 20
  travel:
    # Travel to these airports will be reported as arrivals, from them = departures.
    airports_local: ['Kano', 'Lagos', 'Abuja']
    include_spouse_name_in_list: false
  family:
    member_names_delimiter: ', '
    member_names_dependent_only: true
development:
  <<: *defaults
  screen:
    rows_per_screen_page: 40

test:
  <<: *defaults

production:
  <<: *defaults

