%h1 Reports
%p Choose a report from those listed below
%ul
  %li= link_to "Birthday list", "/reports/birthdays.pdf"
  %li= link_to "Birthday calendar", "/reports/birthday_calendar.pdf"  
  %li= link_to "Blood types", "/reports/bloodtypes.pdf"

